.mainShowMuscle{
    display: flex;
    flex-direction: column;
    
    border-radius: 70px;
    background: #FDFDFD;
    width: 40%;
    height: 100%-margin;
    margin: 10px;
}
.logoMuscle{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 10px;
}
.logoMuscle-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}
.logoMuscle-textPresetationg{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 30px 20px;
}
.logoMuscle-1div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logoMuscle-1div_text{
    display: flex;
    gap: 20px;
    align-items: center;
}
.gitIntro{
    width: 100%;
    border-radius: 10px;
}