.mainContDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    margin: 60px 50px;
    width: 100vw;
}

.mainInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
} 
.mainBlockDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.divShortInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: fit-content;
    border-radius: 28px;
    background: #2D2D2D;
    padding: 5px;
    gap: 20px;
}
.divShortInfo-textImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.divShortInfo-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.avatar-divShortInfo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 70px;
    lighting-color: gray 50%;
}
.btnShortInfo{
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-radius: 32px;
    background: #FFF;
}
.mainBodyMap{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    */
}
.bodyImg {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}
.navigateBody {
    margin-left: 40px;
    padding: 12px 17px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: fit-content;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: -1.73333px 1.73333px 1.73333px 0px rgba(204, 204, 204, 0.46) inset, -0.86667px 0.86667px 0.86667px 0px rgba(255, 255, 255, 0.46) inset, 1.73333px -1.73333px 1.73333px 0px rgba(255, 255, 255, 0.46) inset, 0.86667px -0.86667px 0.86667px 0px rgba(204, 204, 204, 0.46) inset;
    backdrop-filter: blur(3.943333387374878px);
}
.arrowBtnBody{
    width: 7px;
    height: 15px;
}
.divHeightInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    background: #FFF;
    width: 200px;
    height: fit-content;
    padding: 20px 0;
}
.divHeightInfo-top{
    padding-left: 20px;
}
.divHeightInfo-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    margin-top: 10px;
}
.divHeightInfo-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 100px;
    background: #F0F0F0;
    padding: 2px 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
}
.divHeightInfo-btn svg{
    width: 12px;
    height: 12px;
}
